# C / C++

*.exe
*.out
*.o
*.obj

# Compilación
output/
bin/

# VS Code

**/.vscode/

# Java / Eclipse
#----------------------------
# Eclipse
.metadata/
.settings/
.classpath
.project

# Java compilado
*.class
bin/
#----------------------------

# Python

__pycache__/
*.pyc
*.pyo
.venv/
venv/

# React / Node

node_modules/
dist/

# Sistema

.DS_Store
Thumbs.db

# SQL

**/sql
